.slide{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin:20px 120px;
    gap:80px;
}

.projects h1{
    color:black;
}

h1{
    font-size:40px;
}
.card{
    display:flex;
    flex-direction: row;
    gap:100px;
    margin-top:40px;
    margin-bottom:40px;
}

.card-img{
    width:540px;
    transition:0.4s;
}

.card-img img{
    border-radius: 10px;
}

.card-text{
    width:560px;
    order:-1
}

.card-text h1{
    font-size:36px;
}

.card-text p {
    font-size:18px;
    line-height:28px;
}

.card-2 .card-text{
    order:1;
}

span{
    color:#7d2ae8;
}

/*Hover classes */
.card-img:hover{
    transition:0.4s;
    transform: scale(1.14);
}

@media(max-width:1200px){
    .slide{
        display:flex;
        flex-direction: column;
        align-items: center;
        margin:20px 30px;
        gap:80px;
    }

    .card{
        display:flex;
        flex-direction: row;
        gap:30px;
        margin-top:40px;
        margin-bottom:40px;
    }

    .card-text{
        width:540px;
        order:-1;
    }

    .card-img{
        transition:0.4s;
        width:480px;
    }
    
}

@media(max-width:1200px){
    .slide{
        display:flex;
        flex-direction: column;
        align-items: center;
        margin:20px 30px;
        gap:80px;
    }

    .card{
        display:flex;
        flex-direction: row;
        gap:30px;
        margin-top:40px;
        margin-bottom:40px;
    }

    .card-text{
        width:500px;
        order:-1;
    }

    .card-img{
        transition:0.4s;
        width:460px;
    }
    
}


@media(max-width:1100px){
    .slide{
        display:flex;
        flex-direction: column;
        align-items: center;
        margin:20px 30px;
        gap:80px;
    }

    .card{
        display:flex;
        flex-direction: row;
        gap:30px;
        margin-top:40px;
        margin-bottom:40px;
    }

    .card-text{
        width:460px;
        order:-1;
    }

    .card-img{
        transition:0.4s;
        width:420px;
    }
    
}


@media(max-width:1000px){
    .slide{
        display:flex;
        flex-direction: column;
        align-items: center;
        margin:20px 30px;
        gap:80px;
    }

    .card{
        display:flex;
        flex-direction: row;
        gap:30px;
        margin-top:40px;
        margin-bottom:40px;
    }

    .card-text{
        width:460px;
        order:-1;
    }

    .card-img{
        transition:0.4s;
        width:420px;
    }
    
}

@media(max-width:769px){
    .slide{
        display:flex;
        flex-direction: column;
        align-items: center;
        margin:20px 30px;
        gap:40px;
    }

    .card{
        display:flex;
        flex-direction: column;
        gap:50px;
        margin-top:0px;
        margin-bottom:40px;
        align-items: center;
    }

    .card-text{
        width:600px;
        order:1
    }

    .card-img{
        transition:0.4s;
        width:600px;
    }

    .card-text p {
        font-size:17px;
        line-height:28px;
    }
    
}

@media(max-width:700px){
    .slide{
        display:flex;
        flex-direction: column;
        align-items: center;
        margin:20px 30px;
        gap:40px;
    }

    .card{
        display:flex;
        flex-direction: column;
        gap:50px;
        margin-top:0px;
        margin-bottom:40px;
        align-items: center;
    }

    .card-text{
        width:560px;
        order:1
    }

    .card-img{
        transition:0.4s;
        width:560px;
    }

    .card-text p {
        font-size:17px;
        line-height:28px;
    }
    
}

@media(max-width:650px){
    .slide{
        display:flex;
        flex-direction: column;
        align-items: center;
        margin:20px 30px;
        gap:40px;
    }

    .card{
        display:flex;
        flex-direction: column;
        gap:50px;
        margin-top:0px;
        margin-bottom:40px;
        align-items: center;
    }

    .card-text{
        width:520px;
        order:1
    }

    .card-img{
        transition:0.4s;
        width:520px;
    }

    .card-text p {
        font-size:17px;
        line-height:28px;
    }
    
}

@media(max-width:600px){
    .slide{
        display:flex;
        flex-direction: column;
        align-items: center;
        margin:20px 30px;
        gap:40px;
    }

    .card{
        display:flex;
        flex-direction: column;
        gap:50px;
        margin-top:0px;
        margin-bottom:40px;
        align-items: center;
    }

    .card-text{
        width:480px;
        order:1
    }

    .card-img{
        transition:0.4s;
        width:480px;
    }

    .card-text p {
        font-size:17px;
        line-height:28px;
    }
    
}

@media(max-width:560px){
    .slide{
        display:flex;
        flex-direction: column;
        align-items: center;
        margin:20px 30px;
        gap:40px;
    }

    .card{
        display:flex;
        flex-direction: column;
        gap:50px;
        margin-top:0px;
        margin-bottom:40px;
        align-items: center;
    }

    .card-text{
        width:440px;
        order:1
    }

    .card-img{
        transition:0.4s;
        width:440px;
    }

    .card-text p {
        font-size:17px;
        line-height:28px;
    }
    
}

@media(max-width:520px){
    .slide{
        display:flex;
        flex-direction: column;
        align-items: center;
        margin:20px 30px;
        gap:40px;
    }

    .card{
        display:flex;
        flex-direction: column;
        gap:50px;
        margin-top:0px;
        margin-bottom:40px;
        align-items: center;
    }

    .card-text{
        width:390px;
        order:1
    }

    .card-img{
        transition:0.4s;
        width:390px;
    }

    .card-text p {
        font-size:17px;
        line-height:28px;
    }
    
}

@media(max-width:480px){
    .slide{
        display:flex;
        flex-direction: column;
        align-items: center;
        margin:20px 30px;
        gap:40px;
    }

    .card{
        display:flex;
        flex-direction: column;
        gap:50px;
        margin-top:0px;
        margin-bottom:40px;
        align-items: center;
    }

    .card-text{
        width:370px;
        order:1
    }

    .card-img{
        transition:0.4s;
        width:370px;
    }

    .card-text p {
        font-size:17px;
        line-height:28px;
    }
    
}


@media(max-width:440px){
    .slide{
        display:flex;
        flex-direction: column;
        align-items: center;
        margin:20px 30px;
        gap:40px;
    }

    .card{
        display:flex;
        flex-direction: column;
        gap:50px;
        margin-top:0px;
        margin-bottom:40px;
        align-items: center;
    }

    .card-text{
        width:340px;
        order:1
    }

    .card-img{
        transition:0.4s;
        width:340px;
    }

    .card-text p {
        font-size:17px;
        line-height:28px;
    }
    
}

@media(max-width:400px){
    .slide{
        display:flex;
        flex-direction: column;
        align-items: center;
        margin:20px 30px;
        gap:40px;
    }

    .card{
        display:flex;
        flex-direction: column;
        gap:50px;
        margin-top:0px;
        margin-bottom:40px;
        align-items: center;
    }

    .card-text{
        width:320px;
        order:1
    }

    .card-img{
        transition:0.4s;
        width:320px;
    }

    .card-text p {
        font-size:17px;
        line-height:28px;
    }
    
}

@media(max-width:360px){
    .slide{
        display:flex;
        flex-direction: column;
        align-items: center;
        margin:20px 30px;
        gap:40px;
    }

    .card{
        display:flex;
        flex-direction: column;
        gap:50px;
        margin-top:0px;
        margin-bottom:40px;
        align-items: center;
    }

    .card-text{
        width:290px;
        order:1
    }

    .card-img{
        transition:0.4s;
        width:280px;
    }

    .card-text p {
        font-size:17px;
        line-height:28px;
    }
    
}

@media(max-width:320px){
    .slide{
        display:flex;
        flex-direction: column;
        align-items: center;
        margin:20px 30px;
        gap:40px;
    }

    .card{
        display:flex;
        flex-direction: column;
        gap:50px;
        margin-top:0px;
        margin-bottom:40px;
    }

    .card-text{
        width:260px;
        order:1
    }

    .card-img{
        transition:0.4s;
        width:260px;
    }

    .card-text p {
        font-size:17px;
        line-height:28px;
    }
    
}